<h2>User info</h2>

  <%= attachment_image_tag user, :profile_image, fallback:"no_image.jpg", size: '100x100' %>
  <table class="table">
    <tbody>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
    </tbody>
  </table>
  <div class="row">
   <%= link_to "", edit_user_path(user.id), class: "glyphicon glyphicon-wrench btn btn-default col-xs-12" %>
  </div>

<h2>New book</h2>

<%= form_with model: book, local: true do |f| %>

  <div class="field">
    <h5>Title</h5>
    <%= f.text_field :title, class: "col-xs-12" %>
  </div>
  
  <div class="field">
    <h5>Opinion</h5>
    <%= f.text_area :body, class: "col-xs-12"  %>
  </div>
  
  <div class="actions">
    <%= f.submit 'Create Book', class: "btn btn-primary col-xs-12" %>
  </div>
<% end %>
